h1 {
  text-align: center;
}

body {
  font-family: "Sansita Swashed", cursive;
  background-color: #fff;
}

.wrap {
  text-align: center;
  width: 650px;
  margin: 4em auto;
  min-height: 300px;
  border: 1px solid #d6d9dc;
  background: #f9f9f9;

  @media only screen and (max-width: 700px) {
    width: auto;
    height: auto;
  }
}

.h2 {
  font-weight: 300;
  padding: 0 1rem;
}

.hex-code {
  display: block;
  margin-top: 0.5rem;
}

.btn {
  display: inline-block;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 1.5rem;
  transition: all 250ms ease;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1.5;
  margin: 1rem 0;
  user-select: none;

  background-color: steelblue;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  outline: none;

  &:hover {
    background-color: lighten(steelblue, 10%);
    border: 1px solid steelblue;
  }
}

.blockquote {
  font-size: 1.3em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-family: "David Libre", serif;
  text-align: left;

  &::before {
    color: #ccc;
    content: open-quote;
    font-size: 6em;
    line-height: 0.1em;
    margin-right: 0.2rem;
    vertical-align: -0.4em;
    font-family: Arial, Helvetica, sans-serif;
  }

  &-text {
    display: inline;
    line-height: 1.6;
  }

  &-author {
    padding: 1rem 0;
    position: relative;
    display: block;
    text-align: right;
    margin-top: 5px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 65%;
      height: 1px;
      background-color: #ccc;
      z-index: 1;
      @media only screen and (max-width: 700px) {
        width: 20%;
      }
    }
  }
  &-author80 {
    &::before {
      width: 80%;
      @media only screen and (max-width: 700px) {
        width: 40%;
      }
    }
  }
  &-author70 {
    &::before {
      width: 65%;

      @media only screen and (max-width: 700px) {
        width: 30%;
      }
    }
  }
}

.footer {
  text-align: center;
  margin: 2rem 0;
}

.btn-link {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  display: inline-block;
  transition: all 250ms ease-in;

  &:hover {
    border-bottom: 1px solid #000;
    color: steelblue;
  }
}
